

.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu,.Quiz,.end,.Hieghscore{
  width: 500px;
  height: 550px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white
}

.Quiz .options button .finish{

}
.footerBtn {

  position: relative;
  top: 10%;
  left: 30%;



}
.footerBtn button{
  width: 100px;
  height: 30px;
}


  .menu input, button {
    width: 300px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
  }
  
  button:hover {
    cursor: pointer;
  }

  .drop-dhown{
    width: 60%;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-style: normal;
    font-size: larger;
    text-align: center;
  }
  .Quiz h1{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 80%;
  }